# Project 2: Movie Data Analytics
by Matthew Gulbin, David Jimenez, and Shefat Moral
___

## Scenario

Our company wants to expand into movie production, and we are tasked with analyzing the trends of the market to determine what type of movie will be the most successful. We will look at what genres are the most successful, and which directors would result in the biggest return on investment and the most critical acclaim. For the purpose of this study, we will assume that we have a budget of 20 million dollars with which to make movies.

## Intro

First, let's import all of our neccessary packages and read our data from the files.

In [25]:
import pandas as pd
import numpy as np
import sqlite3
from datetime import datetime

In [26]:
bom_movie_df = pd.read_csv('./zippedData/bom.movie_gross.csv')
rt_movie_df = pd.read_csv('./zippedData/rt.movie_info.tsv', delimiter="\t")
rt_reviews_df = pd.read_csv('./zippedData/rt.reviews.tsv', delimiter="\t", encoding="latin1")
tmdb_movie_df = pd.read_csv('./zippedData/tmdb.movies.csv')
tn_movie_df = pd.read_csv('./zippedData/tn.movie_budgets.csv')
conn = sqlite3.connect('./zippedData/im.db')

In [27]:
bom_movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [28]:
rt_movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [29]:
rt_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

In [30]:
tmdb_movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [31]:
tn_movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

### SQL Database Structure
![erd](./images/movie_data_erd.jpeg)

## Analysis 1: Genre

## Analysis 2: Director - Financial

In [32]:
tn_movie_df.head(10)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"

In [ ]:
def clean_data(tn_movie_df):
    # Derive column 'r_date' from column: 'release_date'
    def r_date(release_date):
        """
        Transform based on the following examples:
           release_date      Output
        1: "Dec 18, 2009" => "2009-12-18"
        """
        date1 = datetime.strptime(release_date, "%b %d, %Y")
        return date1.strftime("%Y-%m-%d")
    tn_movie_df.insert(2, "r_date", tn_movie_df.apply(lambda row : r_date(row["release_date"]), axis=1))
    # Drop column: 'release_date'
    tn_movie_df = tn_movie_df.drop(columns=['release_date'])
    # Sort by column: 'r_date' (ascending)
    tn_movie_df = tn_movie_df.sort_values(['r_date'])
    # Filter rows based on column: 'r_date'
    tn_movie_df = tn_movie_df[tn_movie_df['r_date'].str.startswith("2", na=False)]
    # Derive column 'p_budget' from column: 'production_budget'
    def p_budget(production_budget):
        """
        Transform based on the following examples:
           production_budget    Output
        1: "$9,500,000"      => "9500000"
        """
        number1 = float(production_budget.split("$")[-1].replace(",", ""))
        return f"{number1:01.0f}"
    tn_movie_df.insert(4, "p_budget", tn_movie_df.apply(lambda row : p_budget(row["production_budget"]), axis=1))
    # Derive column 'd_gross' from column: 'domestic_gross'
    def d_gross(domestic_gross):
        """
        Transform based on the following examples:
           domestic_gross    Output
        1: "$57,176,582"  => "57176582"
        """
        number1 = float(domestic_gross.split("$")[-1].replace(",", ""))
        return f"{number1:01.0f}"
    tn_movie_df.insert(6, "d_gross", tn_movie_df.apply(lambda row : d_gross(row["domestic_gross"]), axis=1))
    # Derive column 'w_gross' from column: 'worldwide_gross'
    def w_gross(worldwide_gross):
        """
        Transform based on the following examples:
           worldwide_gross    Output
        1: "$59,675,307"   => "59675307"
        """
        number1 = float(worldwide_gross.split("$")[-1].replace(",", ""))
        return f"{number1:01.0f}"
    tn_movie_df.insert(8, "w_gross", tn_movie_df.apply(lambda row : w_gross(row["worldwide_gross"]), axis=1))
    # Drop columns: 'production_budget', 'domestic_gross', 'worldwide_gross'
    tn_movie_df = tn_movie_df.drop(columns=['production_budget', 'domestic_gross', 'worldwide_gross'])
    # Change column type to int64 for columns: 'p_budget', 'd_gross', 'w_gross'
    tn_movie_df = tn_movie_df.astype({'p_budget': 'int64', 'd_gross': 'int64', 'w_gross': 'int64'})
    # Created column 'gross_budget_ratio' from formula
    tn_movie_df['gross_budget_ratio'] = tn_movie_df['w_gross'] / tn_movie_df['p_budget']
    # Sort by column: 'gross_budget_ratio' (descending)
    tn_movie_df = tn_movie_df.sort_values(['gross_budget_ratio'], ascending=[False])
    # Drop column: 'd_gross'
    tn_movie_df = tn_movie_df.drop(columns=['d_gross'])
    # Change column type to datetime64[ns] for column: 'r_date'
    tn_movie_df = tn_movie_df.astype({'r_date': 'datetime64[ns]'})
    # Derive column 'r_year' from column: 'r_date'
    # Transform based on the following examples:
    #    r_date        Output
    # 1: 2009-09-25 => "2009"
    tn_movie_df.insert(2, "r_year", tn_movie_df.apply(lambda row : row["r_date"].strftime("%Y"), axis=1))
    return tn_movie_df

tn_movie_df_clean = clean_data(tn_movie_df.copy())
tn_movie_df_clean.head(10)

,id,r_date,r_year,movie,p_budget,w_gross,gross_budget_ratio
5492,93,2009-09-25,2009,Paranormal Activity,450000,194183034,431.517853
5679,80,2015-07-10,2015,The Gallows,100000,41656474,416.564740
5709,10,2004-05-07,2004,Super Size Me,65000,22233808,342.058585
5781,82,2005-08-05,2005,My Date With Drew,1100,181041,164.582727
5656,57,2007-05-16,2007,Once,150000,23323631,155.490873
5774,75,2004-10-08,2004,Primer,7000,841926,120.275143
5507,8,2004-06-11,2004,Napoleon Dynamite,400000,46122713,115.306782
5430,31,2004-08-06,2004,Open Water,500000,55518641,111.037282
5680,81,2006-09-29,2006,Facing the Giants,100000,10243159,102.431590
5211,12,2012-01-06,2012,The Devil Inside,1000000,101759490,101.759490

In [34]:
tn_movie_df_clean = tn_movie_df_clean[(tn_movie_df_clean['p_budget'] <= 20000000)]
tn_movie_df_clean

,id,r_date,r_year,movie,p_budget,w_gross,gross_budget_ratio
5492,93,2009-09-25,2009,Paranormal Activity,450000,194183034,431.517853
5679,80,2015-07-10,2015,The Gallows,100000,41656474,416.564740
5709,10,2004-05-07,2004,Super Size Me,65000,22233808,342.058585
5781,82,2005-08-05,2005,My Date With Drew,1100,181041,164.582727
5656,57,2007-05-16,2007,Once,150000,23323631,155.490873
...,...,...,...,...,...,...,...
5419,20,2015-02-24,2015,Irreplaceable,600000,0,0.000000
5600,1,2015-02-24,2015,Give Me Shelter,250000,0,0.000000
4640,41,2015-03-03,2015,To Write Love On Her Arms,3400000,0,0.000000
5332,33,2015-03-03,2015,Ask Me Anything,950000,0,0.000000
5319,20,2015-03-10,2015,The Pet,1000000,0,0.000000

In [35]:
tn_movie_df_clean['movie_title'] = tn_movie_df_clean['movie'] + " (" + tn_movie_df_clean['r_year'] + ")"
tn_movie_df_clean = tn_movie_df_clean.set_index('movie_title')
tn_movie_df_clean

,id,r_date,r_year,movie,p_budget,w_gross,gross_budget_ratio
movie_title,,,,,,,
Paranormal Activity (2009),93,2009-09-25,2009,Paranormal Activity,450000,194183034,431.517853
The Gallows (2015),80,2015-07-10,2015,The Gallows,100000,41656474,416.564740
Super Size Me (2004),10,2004-05-07,2004,Super Size Me,65000,22233808,342.058585
My Date With Drew (2005),82,2005-08-05,2005,My Date With Drew,1100,181041,164.582727
Once (2007),57,2007-05-16,2007,Once,150000,23323631,155.490873
...,...,...,...,...,...,...,...
Irreplaceable (2015),20,2015-02-24,2015,Irreplaceable,600000,0,0.000000
Give Me Shelter (2015),1,2015-02-24,2015,Give Me Shelter,250000,0,0.000000
To Write Love On Her Arms (2015),41,2015-03-03,2015,To Write Love On Her Arms,3400000,0,0.000000
Ask Me Anything (2015),33,2015-03-03,2015,Ask Me Anything,950000,0,0.000000
The Pet (2015),20,2015-03-10,2015,The Pet,1000000,0,0.000000

In [36]:
query = """
select movie_id, primary_title, primary_name, start_year, genres
from movie_akas 
join movie_basics using(movie_id)
join directors using(movie_id)
join persons using(person_id)
where (region = 'US') and (start_year >= 2000)
group by movie_id
"""
movie_director_df = pd.read_sql(query, conn)
movie_director_df = movie_director_df.rename(columns={'primary_title': 'movie', 'primary_name' : 'director'})
movie_director_df['movie_title'] = movie_director_df['movie'] + " (" + movie_director_df['start_year'].astype(str) + ")"
movie_director_df = movie_director_df.set_index('movie_title')
movie_director_df

,movie_id,movie,director,start_year,genres
movie_title,,,,,
The Other Side of the Wind (2018),tt0069049,The Other Side of the Wind,Orson Welles,2018,Drama
Bigfoot (2017),tt0112502,Bigfoot,Mc Jones,2017,"Horror,Thriller"
Cooper and Hemingway: The True Gen (2013),tt0159369,Cooper and Hemingway: The True Gen,John Mulholland,2013,Documentary
Heaven & Hell (2018),tt0192528,Heaven & Hell,Stuart Paul,2018,Drama
The Final Journey (2010),tt0230212,The Final Journey,R.J. Adams,2010,Drama
...,...,...,...,...,...
Monkey King Reloaded (2017),tt9837530,Monkey King Reloaded,Paul Wang,2017,Adventure
End of the Century (2019),tt9845398,End of the Century,Lucio Castro,2019,Drama
The House Elf (2019),tt9875852,The House Elf,Evgeniy Bedarev,2019,"Comedy,Family,Fantasy"
Chasing Happiness (2019),tt9882084,Chasing Happiness,John Taylor,2019,Documentary
Vida em Movimento (2019),tt9915436,Vida em Movimento,Eduardo Rajabally,2019,Documentary

In [37]:
comb_df = tn_movie_df_clean.join(movie_director_df, on='movie_title', how='inner', rsuffix='_md')
smaller_df = comb_df[['movie_id','start_year', 'p_budget', 'w_gross', 'gross_budget_ratio', 'director', 'genres']]
smaller_df

,movie_id,start_year,p_budget,w_gross,gross_budget_ratio,director,genres
movie_title,,,,,,,
The Gallows (2015),tt2309260,2015,100000,41656474,416.564740,Chris Lofing,"Horror,Mystery,Thriller"
The Devil Inside (2012),tt1560985,2012,1000000,101759490,101.759490,William Brent Bell,Horror
Paranormal Activity 2 (2010),tt1536044,2010,3000000,177512032,59.170677,Tod Williams,Horror
Get Out (2017),tt5052448,2017,5000000,255367951,51.073590,Jordan Peele,"Horror,Mystery,Thriller"
Moonlight (2016),tt4975722,2016,1500000,65245512,43.497008,Barry Jenkins,Drama
...,...,...,...,...,...,...,...
Into the Grizzly Maze (2015),tt1694021,2015,10000000,0,0.000000,David Hackl,"Action,Adventure,Drama"
Subconscious (2015),tt2909932,2015,500000,0,0.000000,Georgia Hilton,"Action,Mystery,Thriller"
Daisy Winters (2017),tt3702088,2017,4500000,0,0.000000,Beth LaMure,Drama
Bleeding Hearts (2015),tt2622294,2015,1200000,0,0.000000,Dylan Bank,Horror
Irreplaceable (2015),tt5274738,2015,600000,0,0.000000,Susan Fetzer,Drama

In [38]:
def genre_count(input_df):
    output_dict = {}
    for index, row in input_df.iterrows():
        genre_list = row['genres'].split(',')
        for genre in genre_list:
            if genre in output_dict:
                output_dict[genre] += 1
            else:
                output_dict[genre] = 1
    return output_dict

test_dict = genre_count(smaller_df)
test_dict

{'Horror': 122,
 'Mystery': 72,
 'Thriller': 122,
 'Drama': 348,
 'Action': 78,
 'Biography': 53,
 'Documentary': 33,
 'Fantasy': 31,
 'Romance': 101,
 'Comedy': 193,
 'Music': 30,
 'Sci-Fi': 34,
 'Crime': 72,
 'Family': 26,
 'Adventure': 34,
 'Sport': 16,
 'History': 9,
 'Animation': 8,
 'War': 9,
 'Western': 4,
 'Musical': 2}

In [39]:
horror_df = smaller_df[smaller_df['genres'].str.contains("Horror")]
horror_df

,movie_id,start_year,p_budget,w_gross,gross_budget_ratio,director,genres
movie_title,,,,,,,
The Gallows (2015),tt2309260,2015,100000,41656474,416.564740,Chris Lofing,"Horror,Mystery,Thriller"
The Devil Inside (2012),tt1560985,2012,1000000,101759490,101.759490,William Brent Bell,Horror
Paranormal Activity 2 (2010),tt1536044,2010,3000000,177512032,59.170677,Tod Williams,Horror
Get Out (2017),tt5052448,2017,5000000,255367951,51.073590,Jordan Peele,"Horror,Mystery,Thriller"
Chernobyl Diaries (2012),tt1991245,2012,1000000,42411721,42.411721,Bradley Parker,"Horror,Mystery,Thriller"
...,...,...,...,...,...,...,...
Wind Walkers (2015),tt1236254,2015,2000000,0,0.000000,Russell Friedenberg,"Action,Horror,Thriller"
House at the End of the Drive (2014),tt0464054,2014,1400000,0,0.000000,David Worth,"Horror,Thriller"
The Walking Deceased (2015),tt3499458,2015,2000000,0,0.000000,Scott Dow,"Comedy,Horror"
Teeth and Blood (2015),tt1991199,2015,300000,0,0.000000,Pamela J. Richardson,"Action,Horror"
Bleeding Hearts (2015),tt2622294,2015,1200000,0,0.000000,Dylan Bank,Horror

In [40]:
horror_df.groupby(['director'])['gross_budget_ratio'].agg('mean').sort_values(ascending=False).head(10)

director
Chris Lofing          416.564740
Tod Williams           59.170677
William Brent Bell     54.290793
Bradley Parker         42.411721
Henry Joost            34.985784
Jordan Peele           31.892053
Scott Derrickson       29.242602
Jeff Wadlow            27.179241
David Gordon Green     25.490067
David F. Sandberg      25.060147
Name: gross_budget_ratio, dtype: float64

In [41]:
director_counts = horror_df['director'].value_counts()
director_counts = director_counts[director_counts > 1]
dc_list = director_counts.index.to_list()
dc_list

['Christopher Landon',
 'James DeMonaco',
 'Mike Flanagan',
 'John Erick Dowdle',
 'Jordan Peele',
 'Gregory Plotkin',
 'Henry Joost',
 'John R. Leonetti',
 'Daniel Stamm',
 'David F. Sandberg',
 'Deon Taylor',
 'Ciarán Foy',
 'William Brent Bell',
 'Kevin Smith']

In [42]:
filtered_by_directors_df = horror_df[horror_df['director'].isin(dc_list)]
filtered_by_directors_df = filtered_by_directors_df[filtered_by_directors_df['gross_budget_ratio'] > 0]

director_mean_roi = filtered_by_directors_df.groupby(['director'])['gross_budget_ratio'].agg('mean').sort_values(ascending=False)
director_mean_roi

director
William Brent Bell    54.290793
Henry Joost           34.985784
Jordan Peele          31.892053
David F. Sandberg     25.060147
John R. Leonetti      20.736909
Daniel Stamm          19.496472
James DeMonaco        18.222144
Christopher Landon    12.837767
John Erick Dowdle      7.350112
Deon Taylor            7.304296
Gregory Plotkin        5.545172
Ciarán Foy             5.410423
Mike Flanagan          4.607322
Kevin Smith            0.562542
Name: gross_budget_ratio, dtype: float64

In [43]:
director_stats_df = filtered_by_directors_df.groupby(['director'])['w_gross'].agg(['sum', 'max', 'count']).sort_values(by='sum', ascending=False)
director_stats_df = director_stats_df.join(director_mean_roi, on='director')
director_stats_df = director_stats_df.rename(columns={'sum': 'total_gross', 'max': 'highest_gross', 'count': 'num_movies', 'gross_budget_ratio': 'average_roi'})
director_stats_df

                    total_gross  highest_gross  num_movies  average_roi
director
Jordan Peele          509578261      255367951           2    31.892053
David F. Sandberg     454191375      305384865           2    25.060147
Henry Joost           349857836      207039844           2    34.985784
James DeMonaco        321316189      118514727           3    18.222144
Christopher Landon    295649464      125010260           4    12.837767
John R. Leonetti      280340265      256862920           2    20.736909
William Brent Bell    169980442      101759490           2    54.290793
John Erick Dowdle     105178180       63354114           2     7.350112
Gregory Plotkin        96078605       77959374           2     5.545172
Mike Flanagan          81840421       81831866           2     4.607322
Daniel Stamm           70213452       70165900           2    19.496472
Ciarán Foy             54104225       54104225           1     5.410423
Deon Taylor            45102943       36005871           2     7.304296
Kevin Smith             3871150        1983596           2     0.562542

In [44]:
directors_average_budget = filtered_by_directors_df.groupby(['director'])['p_budget'].agg('mean')
director_stats_df = director_stats_df.join(directors_average_budget, on='director')
# Rename column 'p_budget' to 'average_budget'
director_stats_df = director_stats_df.rename(columns={'p_budget': 'average_budget'})
    # Round columns 'average_roi', 'average_budget' (Number of decimals: 2)
director_stats_df = director_stats_df.round({'average_roi': 2, 'average_budget': 2})
director_stats_df

,total_gross,highest_gross,num_movies,average_roi,average_budget
director,,,,,
Jordan Peele,509578261,255367951,2,31.89,12500000.00
David F. Sandberg,454191375,305384865,2,25.06,10000000.00
Henry Joost,349857836,207039844,2,34.99,5000000.00
James DeMonaco,321316189,118514727,3,18.22,7333333.33
Christopher Landon,295649464,125010260,4,12.84,8500000.00
John R. Leonetti,280340265,256862920,2,20.74,9250000.00
William Brent Bell,169980442,101759490,2,54.29,5500000.00
John Erick Dowdle,105178180,63354114,2,7.35,7500000.00
Gregory Plotkin,96078605,77959374,2,5.55,7750000.00
Mike Flanagan,81840421,81831866,2,4.61,4535000.00
Daniel Stamm,70213452,70165900,2,19.50,2900000.00
Ciarán Foy,54104225,54104225,1,5.41,10000000.00
Deon Taylor,45102943,36005871,2,7.30,4450000.00
Kevin Smith,3871150,1983596,2,0.56,3500000.00

In [45]:
filtered_by_directors_df.reset_index().to_csv('./zippedData/horror_movies_by_director.csv')
director_stats_df.reset_index().to_csv('./zippedData/horror_director_stats.csv')

### Visualization
![director tableau](./images/Screenshot%202025-02-11%20at%202.56.11 PM.png)

## Analysis 3: Director - Ratings

## Conclusion